<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>A75EA79F-1BFE-435E-B927-18ACFEC1F40C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C03EEE4-5BFF-4F23-9D10-95B6596356EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF9FA552-A005-4C2C-A1B0-F7CD37731ADB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1F42D3B-C995-4DE3-AE69-F2C03597165C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Open workspace</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OCLCWorkspace</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Evernote.app</string>
					<string>/Applications/Microsoft Outlook.app</string>
					<string>/Applications/Microsoft Teams.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>D1F42D3B-C995-4DE3-AE69-F2C03597165C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>oclcworkspace</string>
				<key>subtext</key>
				<string>Work focus apps</string>
				<key>text</key>
				<string>Open desktop one of workspace</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FF9FA552-A005-4C2C-A1B0-F7CD37731ADB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Slack.app</string>
					<string>/Applications/Telegram.app</string>
					<string>/Applications/Messages.app</string>
					<string>/System/Library/CoreServices/Applications/Screen Sharing.app</string>
					<string>/Applications/iTunes.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>4C03EEE4-5BFF-4F23-9D10-95B6596356EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>opendesktop2</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open the Desktop2 Personal Applications</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A75EA79F-1BFE-435E-B927-18ACFEC1F40C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4C03EEE4-5BFF-4F23-9D10-95B6596356EF</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>A75EA79F-1BFE-435E-B927-18ACFEC1F40C</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>D1F42D3B-C995-4DE3-AE69-F2C03597165C</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>FF9FA552-A005-4C2C-A1B0-F7CD37731ADB</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
