<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>1592D65A-CFF2-49B3-A85E-E02E5D41438E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>g</string>
			<key>text</key>
			<string>Neeva {query}</string>
			<key>url</key>
			<string>http://alpha.neeva.co/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>22B9F111-1E92-43D5-BD10-EC65B5D46144</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>roget</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>Roget's Full Text</string>
			<key>url</key>
			<string>http://machaut.uchicago.edu/?action=search&amp;resource=Roget%27s&amp;word={query}&amp;searchtype=fulltext</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>2D25C7D3-A9EF-4AFA-9977-28624BF589A2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ntp-scientific</string>
			<key>text</key>
			<string>NTP-scientific</string>
			<key>url</key>
			<string>http://www.namethatplant.net/4DCGI/Query?scientificname={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>31038F1A-2D0D-4C25-9821-D548CCAC111F</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>ntp-common</string>
			<key>text</key>
			<string>NTP-common</string>
			<key>url</key>
			<string>http://www.namethatplant.net/4DCGI/Query?commonname={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6253FD0E-3DD4-4DF1-A84C-FCD94DD7B614</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>calflora</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>calflora</string>
			<key>url</key>
			<string>http://www.calflora.org/cgi-bin/specieslist.cgi?countylist=any&amp;namesoup={query}&amp;plantcomm=any&amp;format=photos&amp;orderby=family</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>62743E44-990D-490B-B30C-67E1C7738544</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>netflix</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>netflix</string>
			<key>url</key>
			<string>http://dvd.netflix.com/Search?oq=&amp;ac_posn=&amp;v1={query}&amp;search_submit=</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6438A363-D3D4-4BD4-8D9D-A2C4FB36C04C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>JIRA {query}</string>
			<key>url</key>
			<string>https://jira.oclc.org/browse/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>873797D4-C58C-4153-AC10-181171AF9605</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ntp-common</string>
			<key>text</key>
			<string>NTP-common</string>
			<key>url</key>
			<string>http://www.namethatplant.net/4DCGI/Query?commonname={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BDD7DB64-E065-4692-8002-F87379297F15</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wevernote</string>
			<key>text</key>
			<string>Evernote {query}</string>
			<key>url</key>
			<string>https://www.evernote.com/Home.action?offer=www_menu#ses=1&amp;sh=5&amp;sds=5&amp;x={query}&amp;</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BDE40CAC-DDAC-4D84-BAE1-2723F674C4CE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wunder</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>wunder</string>
			<key>url</key>
			<string>http://www.wunderground.com/cgi-bin/findweather/getForecast?query={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>D057F67D-A32D-4D60-89C8-ACAFE6C91B4D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>worldcat</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>worldcat</string>
			<key>url</key>
			<string>https://www.worldcat.org/search?qt=worldcat_org_all&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DA5E8795-AB59-42CD-8482-805251683C58</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nytimes</string>
			<key>text</key>
			<string>New York Times</string>
			<key>url</key>
			<string>https://query.nytimes.com/search/sitesearch/?action=click&amp;module=SearchSubmit&amp;pgtype=article#/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E7471EA2-71B5-4101-A393-40F8698151C5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>aab</string>
			<key>text</key>
			<string>All About Birds</string>
			<key>url</key>
			<string>https://www.allaboutbirds.org/search/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EBC370E2-C871-4738-B3D6-58D84E639D16</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>amazon</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>amazon {query}</string>
			<key>url</key>
			<string>http://smile.amazon.com/s/ref=nb_sb_noss?field-keywords={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
