<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>04D6AC20-0EA0-4E15-A82F-573E06616BB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51FF7E68-CE78-4DF2-9CC5-0E318C9D2814</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1529AB28-D0E0-4742-BBEE-8EDACBC2EC6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04D6AC20-0EA0-4E15-A82F-573E06616BB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8EC3E632-DAE9-4501-AD3B-2F9D83BA4193</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4A2999B-30F7-4866-90E6-034837073CF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Create Airtable record - COPY</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>51FF7E68-CE78-4DF2-9CC5-0E318C9D2814</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>testing</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>testing A B C</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1529AB28-D0E0-4742-BBEE-8EDACBC2EC6A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>a, b, c</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>04D6AC20-0EA0-4E15-A82F-573E06616BB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>not working</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create new record in Airtable...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8EC3E632-DAE9-4501-AD3B-2F9D83BA4193</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>curl -v -XPOST &lt;YOUR_TABLE_URL&gt; \
-H "Authorization: Bearer &lt;YOUR_API_KEY&gt;" \
-H "Content-type: application/json" \
 -d '{
  "fields": {
    "Title": "{query}",
    "Status": "Open",
    "Tiling": "Backlog",
    "Priority": "Needs triage"
  }
}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B4A2999B-30F7-4866-90E6-034837073CF7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04D6AC20-0EA0-4E15-A82F-573E06616BB7</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>1529AB28-D0E0-4742-BBEE-8EDACBC2EC6A</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>51FF7E68-CE78-4DF2-9CC5-0E318C9D2814</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>8EC3E632-DAE9-4501-AD3B-2F9D83BA4193</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>B4A2999B-30F7-4866-90E6-034837073CF7</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
